{% extends 'base.html' %}

{% block content %}
<div class="form-wrapper">
  <form method="POST" action="">
    <h3>Register!</h3>
    <!-- first name input -->
    <div>
      {{ form.hidden_tag() }}
      {{ form.first_name.label }}
      {{ form.first_name()}}
    </div>
    <!-- last name input -->
    <div> 
      {{ form.last_name.label }}
      {{ form.last_name()}}
    </div>
    <!-- address input -->
    <div>
      {{ form.address.label }}
      {{ form.address()}}
    </div>
    <!-- date of birth input -->
    <div>
      {{ form.dob.label }}
      {{ form.dob()}}
    </div>
    <!-- email input -->
    <div>
      {{ form.email.label }}
      {{ form.email()}}
    </div>
    <!-- password input -->
    <div>
          {{ form.password.label }}
          {{ form.password()}}
    </div>
    <!-- confirm password input -->
    <div>
      {{ form.confirm_password.label }}
      {{ form.confirm_password() }}
</div>
      {{ form.submit }}
      <p>Already have an account? <a href="{{url_for('login')}}">Sign in</a></p>
    </form>
</div>
{% endblock %}